################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FastFA/DesignTimeBuild/.dtbcache.v2
/.vs/FastFA/FileContentIndex/926baa99-bf84-472e-a5e8-0b0a97b9677d.vsidx
*.v2
*.bin
/.vs/FastFA/FileContentIndex/4058287c-1afb-48d3-9f65-6c98592ad440.vsidx
/.vs/VSWorkspaceState.json
/.vs/FastFA/v17/.suo
/FastFA/bin/Debug/netstandard2.0/FastFA.dll
/FastFA/bin/Debug/netstandard2.0/FastFA.pdb
/FastFA/bin/Debug/netstandard2.0/LexContext.dll
/FastFA/bin/Debug/netstandard2.0/LexContext.pdb
/FastFA/obj/Debug/netstandard2.0/FastFA.assets.cache
/FastFA/obj/Debug/netstandard2.0/FastFA.csproj.AssemblyReference.cache
/FastFA/obj/Debug/netstandard2.0/FastFA.dll
/FastFA/obj/Debug/netstandard2.0/FastFA.GeneratedMSBuildEditorConfig.editorconfig
/FastFA/obj/Debug/netstandard2.0/FastFA.pdb
/FastFA/obj/FastFA.csproj.nuget.dgspec.json
/FastFA/obj/project.assets.json
/FastFA/obj/project.nuget.cache
/LexContext/bin/Debug/netstandard2.0/LexContext.dll
/LexContext/bin/Debug/netstandard2.0/LexContext.pdb
/LexContext/obj/Debug/netstandard2.0/LexContext.assets.cache
/LexContext/obj/Debug/netstandard2.0/LexContext.dll
/LexContext/obj/Debug/netstandard2.0/LexContext.GeneratedMSBuildEditorConfig.editorconfig
/LexContext/obj/Debug/netstandard2.0/LexContext.pdb
/LexContext/obj/LexContext.csproj.nuget.dgspec.json
/LexContext/obj/project.nuget.cache
/SimpleDemo/bin/Debug/net6.0/FastFA.dll
/SimpleDemo/bin/Debug/net6.0/FastFA.pdb
/SimpleDemo/bin/Debug/net6.0/LexContext.dll
/SimpleDemo/bin/Debug/net6.0/LexContext.pdb
/SimpleDemo/bin/Debug/net6.0/SimpleDemo.dll
/SimpleDemo/bin/Debug/net6.0/SimpleDemo.pdb
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.assets.cache
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.csproj.AssemblyReference.cache
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.dll
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.GeneratedMSBuildEditorConfig.editorconfig
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.genruntimeconfig.cache
/SimpleDemo/obj/Debug/net6.0/SimpleDemo.pdb
/SimpleDemo/obj/project.assets.json
/SimpleDemo/obj/project.nuget.cache
/SimpleDemo/obj/SimpleDemo.csproj.nuget.dgspec.json
/SimpleDemo/ident.jpg
